<div data-role="page" data-theme='b'>



    <div class="Tager">
      <div class="imgLogo">
        <img src="/public/images/tastebudlogo.png" class="im" />
      </div>
    </div>
    <div class="fblogin">
      <a href="#" style="color:white;line-height: 40px;">
        <div class="pos">
          <i class='bbIcon fa fa-facebook'></i>
        </div>
          Login With facebook
      </a>
    </div>

          <div class="plainlogin">
            <a href="/app/Landing/activate" style="color:black;line-height: 40px;">
              <div class="pos1">
                <i class='bbIcon1 fa fa-envelope'></i>
              </div>
                Login With Email&nbsp;&nbsp;&nbsp;&nbsp;
            </a>
          </div>


</div>
