<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>

    <title>TasteBud</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
    <% if Rho::System.getProperty('platform') == 'APPLE' || Rho::System.getProperty('platform') == 'ANDROID' ||
        ( Rho::System.getProperty('platform') != 'WINDOWS' && Rho::System.getProperty('webviewFramework') =~ /^WEBKIT/) %>
        <script src="/public/api/rhoapi-modules.js" type="text/javascript"></script>

<!-- FontAwesome - http://fortawesome.github.io/Font-Awesome/ -->
        <link rel="stylesheet" href="/public/css/font-awesome.min.css" />

    <!-- jQueryMobileCSS - original without styling -->
    <link rel="stylesheet" href="/public/css/jqmob.css" />



    <!-- jQuery / jQueryMobile Scripts -->
    <script src="/public/js/jquery1.9.1.js"></script>
    <script src="/public/js/jqmob.min.js"></script>
    
    <% end %>

    <% if Rho::System.getProperty('platform') == 'APPLE' %>
        <link href="/public/css/iphone.css" type="text/css" rel="stylesheet"/>
    <% elsif Rho::System.getProperty('platform') == 'ANDROID' %>
<!-- nativeDroid core CSS -->
    <link rel="stylesheet" href="/public/css/jquerymobile.nativedroid.css" />

<!-- nativeDroid: Light/Dark -->
    <link rel="stylesheet" href="/public/css/jquerymobile.nativedroid.light.css"  id='jQMnDTheme' />

<!-- nativeDroid: Color Schemes -->
    <link rel="stylesheet" href="/public/css/jquerymobile.nativedroid.color.red.css" id='jQMnDColor' />
    <% elsif Rho::System.getProperty('webviewFramework') =~ /^WEBKIT/ %>
        <link href="/public/css/re_webkit.css" type="text/css" rel="stylesheet"/>
    <% elsif Rho::System.getProperty('platform') == 'WINDOWS' %>
	    <link href="/public/css/windows_mobile.css" type="text/css" rel="stylesheet"/>
    <% end %>
</head>

<body data-platform="<%= Rho::System.getProperty('platform') %>">
    <%= @content %>
</body>

</html>
