<div data-role="page" data-theme='b'>

  <div class="Tager1">
    <div class="imgLogo">
      <img src="/public/images/tastebudlogo.png" class="imm" />
    </div>
  </div>
        <div class="fblogin">
          <a href="#" style="color:white;line-height: 40px;">
            <div class="pos">
              <i class='bbIcon fa fa-facebook'></i>
            </div>
              Login With facebook
          </a>
        </div>
    
              <div class="plainlogin">
                <a href="/app/Landing/sign" style="color:black;line-height: 40px;" data-ajax="false" data-transition="pop">
                  <div class="pos1">
                    <i class='bbIcon1 fa fa-envelope'></i>
                  </div>
                    Sign Up&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </a>
              </div>
              
              
        <div class="cf pos-rel m2-top m2-bottom talign-center strike-seperator p" style="padding: 27px 0px;">
            <span class="or-seperator medium-text strong">OR</span>
        </div>
              
              
    <% if @msg %>
      <div class="succ_msg">
        <%= @msg %>
      </div>
  <% end %>
    
  <form action="/app/Landing/signinvalidate" method="post" id="form1">
     <ul data-role="listview" data-inset="true">

         <li data-role="fieldcontain">
             <input type="text" id="user_email" name="user_email"  placeholder="Email" data-clear-btn="true">
         </li>
        <li data-role="fieldcontain">
            <input type="password" id="user_password" name="user_password"  placeholder="Password" data-clear-btn="true">
        </li>
     </ul>
<div class="fixe">
 <input type="submit" data-icon="check" data-inline='true' />
</div>
  </form>

  </div>
  <script src="/public/js/val.js"></script>
                <script type="text/javascript">
                        $().ready(function() {
                              $('#form1').validate({
                                  rules: {
                                      user_email: {
                                          required: true,
                                          email: true
                                      },
                                    user_password: {
                                        required: true,
                                    }
                                      
                                  },
                                  messages: {
                                    user_email: {
                                          required: "Please enter Your email."
                                      },
                                    user_password: {
                                          required: "Please enter Your Password."
                                      }
                                  }
                              });
                        });
            </script>




</div>
