<div data-role="page" data-theme='b'>


    <!--div data-role="header" data-position="fixed" data-tap-toggle="false" data-theme='b'>
        <!--a href="index.html" data-ajax="false"><i class='fa fa-bars'></i></a-->
        <!--h1>TasteBud</h1>
    </div-->
<div data-role="content">   
  <div class="paths">
  <div class="overlay1">
  <div class="paters">
    <a href="index.html" data-ajax="false"><i class='fa fa-bars' style="color:white"></i></a>
    <h1 class="profheader">My Profile</h1>
  </div>
    <div class="pathsdata">
      <h1 class="chakde"><%= @varFname %>&nbsp;<%= @varLname %></h1>
    </div>
  </div>
  </div>
  <div class="circularcoach" style="height:70px;">
       <img src="/public/images/avatar.png" />
  </div>
  <div class="det">
    <a href="/app/Landing/menu" data-transition="slide">Browse Menu</a>
  </div>
  <ul data-nativedroid-plugin="cards" class="nativeDroidCards marginer">
    <li data-cards-type="weather" class="allNone">
    <ul class="week">
                <li>
                  <span><i class='bbe fa fa-gavel' style="color:white"></i>Orders Placed</span>
                  <strong class="myclass">12</strong>
                </li>
                <li>
                  <span>Reviews Posted</span>
                  <strong class="myclass">1</strong>
                </li>
              </ul>
    </li>
  </ul>
    <form method="POST" action="<%= url_for :action => :create %>">
       <ul data-role="listview" data-inset="true">

           <li data-role="fieldcontain">
              <input type="text" id="productdetails[email_id]" name="productdetails[email_id]"  data-clear-btn="true" value="<%= @varEid %>">
           </li>
            <li data-role="fieldcontain">
              <input type="text" id="productdetails[mobile]" name="productdetails[mobile]"  data-clear-btn="true" value="<%= @varMob %>">
            </li>
            <li data-role="fieldcontain">
              <input type="text" id="productdetails[address]" name="productdetails[address]"  data-clear-btn="true" value="<%= @varAdd %>">
            </li>
            <li>
                <input type="submit" value="Sign In" data-inline='true' />
                <button type="reset" data-inline='true'><i class='lIcon fa fa-times'></i>Cancel</button>
            </li>
       </ul>
    </form>
    <div data-position="fixed" data-tap-toggle="false" data-role="footer" data-tap-toggle="false" data-theme='b'>
      <div data-role="navbar">
        <ul>
          <li><a href="#"><i class='blIcon fa fa-cogs'></i>config</a></li>
          <li><a href="#"><i class='blIcon fa fa-map-marker'></i>locate</a></li>
          <li><a href="#"><i class='blIcon fa fa-share'></i>share it!</a></li>
        </ul>
      </div>
    </div>
</div>
