<div data-role="page" data-theme='b'>


    <div data-role="header" data-position="fixed" data-tap-toggle="false" data-theme='b'>
        <!--a href="index.html" data-ajax="false"><i class='fa fa-bars'></i></a-->
        <h1>TasteBud</h1>

        <a href='#popupDialog' data-rel='popup' data-position-to='window' data-role='button' data-transition='pop' data-inline='true'>
          <i class='bbIcon fa fa-user' style="margin-left: -6px;margin-top: -4px;"></i>
        </a>
        <div data-role='popup' id='popupDialog' data-theme='b'>
          <div data-role="header" data-theme="b">
            <h1>Alert</h1>
          </div>
          <div data-role="content" data-theme="b" style="padding: 10px;">
              You have Not Logged In, Or you have not register
              <div class='showastabs center nobg'>
                <a href='#' data-rel="back" data-role='button' data-inline='true'>Sign In</a>
                <a href='#' data-rel="back" data-role='button' data-inline='true'>Register</a>
              </div>
          </div>
        </div>
    </div>


<div data-role="content">   
 <div class="inset">
  <h1 class="onto">Menu</h1>
 </div>
   <ul data-role="listview" data-inset="false" data-icon="true" data-divider-theme="b">
     
     <li class="ambe"><a href="/app/Landing/menudetails?menufoo=1" data-transition="pop" class="semi">
         
         <h2 class="menuhead">Italian</h2>
         <span class="ui-icon ui-icon-arrow-r ui-icon-shadow"></span>
         </a>
     </li>
<li class="ambe1"><a href="index.php" class="semi">
    
    <h2 class="menuhead">Kebabs</h2>
    <span class="ui-icon ui-icon-arrow-r ui-icon-shadow"></span>
    </a>
</li>
<li class="ambe2"><a href="index.php">
    
    <h2 class="menuhead">Sea Food</h2>
    <span class="ui-icon ui-icon-arrow-r ui-icon-shadow"></span>
    </a>
</li>
<li class="ambe"><a href="index.php">
    
    <h2 class="menuhead">Traditional Dishes</h2>
    <span class="ui-icon ui-icon-arrow-r ui-icon-shadow"></span>
    </a>
</li>

 </ul>
   
   
 </div>

<!--    <div data-role="footer" class="ui-bar" data-position="fixed" data-tap-toggle="false" data-theme='b'>
        <h1 class="ui-title" role="heading" aria-level="1">Hi I'm a fixed footer.</h1>
</div> !-->

<div data-position="fixed" data-tap-toggle="false" data-role="footer" data-tap-toggle="false" data-theme='b'>
  <div data-role="navbar">
    <ul>
      <li><a href="#"><i class='blIcon fa fa-cogs'></i>config</a></li>
      <li><a href="#"><i class='blIcon fa fa-map-marker'></i>locate</a></li>
      <li><a href="#"><i class='blIcon fa fa-share'></i>share it!</a></li>
    </ul>
  </div>
</div>

</div>
