<div data-role="page" data-theme='b'>


<div data-role="content">   

<div class="imgwrapper">
  <img src="/public/images/pizza1.jpg" style="width:100%"/>
  <div class="heroku">
    Italian
  </div>
  <div class="anna">
    <a href="tel:+919007990033" style="color:white;"><i class='fa fa-phone'></i></a>
  </div>
</div>

   <ul data-role="listview" data-inset="false" data-icon="false" data-divider-theme="b">
     
     <li class="dets"><a href="#" class="haha">
         <img src="/public/images/pizza.jpg" style="width: 51px;height: 50px;margin-top: 8px;margin-left: 5px;" />
         <h7 class="mmenu">Chicken Pizza</h7>
         <div class="pants">
          It comes with soft base and red sauce
         </div>

       <div class="order">
         <a href='#popupDialog1' data-rel='popup' data-position-to='window' data-role='button' data-transition='pop' data-inline='true' class="now">
           Order Now
         </a>
       </div>
         </a>
         

       <div data-role='popup' id='popupDialog1' data-theme='b'>
         <div data-role="header" data-theme="b">
           <h1>Alert</h1>
         </div>
         <div data-role="content" data-theme="b" style="padding: 10px;">
             You have Not Logged In, Or you have not register
             <div class='showastabs center nobg'>
               <a href='#' data-rel="back" data-role='button' data-inline='true'>Sign In</a>
               <a href='#' data-rel="back" data-role='button' data-inline='true'>Register</a>
             </div>
         </div>
       </div>
         
         
         
     </li>
      <li class="dets"><a href="#" class="haha">
          <img src="/public/images/nems.jpg" style="width: 51px;height: 50px;margin-top: 8px;margin-left: 5px;" />
          <h7 class="mmenu">Tadoor Pizza</h7>
          <div class="pants">
            It comes with sausages and nuggets mixed with veggies
          </div>
        <div class="order">
          <a href='#popupDialog2' data-rel='popup' data-position-to='window' data-role='button' data-transition='pop' data-inline='true' class="now">
            Order Now
          </a>
        </div>
          </a>
          
 
        <div data-role='popup' id='popupDialog2' data-theme='b'>
          <div data-role="header" data-theme="b">
            <h1>Alert</h1>
          </div>
          <div data-role="content" data-theme="b" style="padding: 10px;">
              2
              <div class='showastabs center nobg'>
                <a href='#' data-rel="back" data-role='button' data-inline='true'>Sign In</a>
                <a href='#' data-rel="back" data-role='button' data-inline='true'>Register</a>
              </div>
          </div>
        </div>
          </a>
      </li>
        <li class="dets"><a href="#" class="haha">
            <img src="/public/images/pizza.jpg" style="width: 51px;height: 50px;margin-top: 8px;margin-left: 5px;" />
            <h7 class="mmenu">Chicken Pizza</h7>
            <div class="pants">
             this os 1
            </div>
          <div class="order">
            <a href='#popupDialog3' data-rel='popup' data-position-to='window' data-role='button' data-transition='pop' data-inline='true' class="now">
              Order Now
            </a>
          </div>
            </a>
            
   
          <div data-role='popup' id='popupDialog3' data-theme='b'>
            <div data-role="header" data-theme="b">
              <h1>Alert</h1>
            </div>
            <div data-role="content" data-theme="b" style="padding: 10px;">
                This is 3
                <div class='showastabs center nobg'>
                  <a href='#' data-rel="back" data-role='button' data-inline='true'>Sign In</a>
                  <a href='#' data-rel="back" data-role='button' data-inline='true'>Register</a>
                </div>
            </div>
          </div>
            </a>
        </li>
         <li class="dets"><a href="#" class="haha">
             <img src="/public/images/nems.jpg" style="width: 51px;height: 50px;margin-top: 8px;margin-left: 5px;" />
             <h7 class="mmenu">Tadoor Pizza</h7>
             <div class="pants">
               It comes with sausages and nuggets mixed with veggies
             </div>
           <div class="order">
             <a href='#popupDialog4' data-rel='popup' data-position-to='window' data-role='button' data-transition='pop' data-inline='true' class="now">
               Order Now
             </a>
           </div>
             </a>
             
    
           <div data-role='popup' id='popupDialog4' data-theme='b'>
             <div data-role="header" data-theme="b">
               <h1>Alert</h1>
             </div>
             <div data-role="content" data-theme="b" style="padding: 10px;">
                 This is 3
                 <div class='showastabs center nobg'>
                   <a href='#' data-rel="back" data-role='button' data-inline='true'>Sign In</a>
                   <a href='#' data-rel="back" data-role='button' data-inline='true'>Register</a>
                 </div>
             </div>
           </div>
             </a>
         </li>

 </ul>
   
   
 </div>

<!--    <div data-role="footer" class="ui-bar" data-position="fixed" data-tap-toggle="false" data-theme='b'>
        <h1 class="ui-title" role="heading" aria-level="1">Hi I'm a fixed footer.</h1>
</div> !-->

<div data-position="fixed" data-tap-toggle="false" data-role="footer" data-tap-toggle="false" data-theme='b'>
  <div data-role="navbar">
    <ul>
      <li><a href="#"><i class='blIcon fa fa-cogs'></i>config</a></li>
      <li><a href="#"><i class='blIcon fa fa-map-marker'></i>locate</a></li>
      <li><a href="#"><i class='blIcon fa fa-share'></i>share it!</a></li>
    </ul>
  </div>
</div>

</div>
