<div data-role="page" data-theme='b'>
    <div data-role="content" data-theme='b'>
      There is a problem Connecting to network. Please Check the connection.<br />
      If Connection is OK and still viewing this page, Try again Later by closing the application and restarting the Application
    </div>
</div>