<div data-role="page" data-theme='b'>
<div class="plainlogin">
  <a href="/app/Landing/activate" style="color:black;line-height: 40px;">
    <div class="pos1">
      <i class='bbIcon1 fa fa-envelope'></i>
    </div>
      Login With Email&nbsp;&nbsp;&nbsp;&nbsp;
  </a>
</div>

    <div data-role="content">

    <form action="/app/Landing/signup" method="post" id="form1">
       
       <ul data-role="listview" data-inset="true">
        
           <li data-role="fieldcontain">
               <input type="text" data-icon="user" id="user_f_name" name="user_f_name"  placeholder="First Name" data-clear-btn="true" >
           </li>
            <li data-role="fieldcontain">
                <input type="text" id="user_l_name" name="user_l_name"  placeholder="Last Name" data-clear-btn="true" >
            </li>
            <li data-role="fieldcontain">
                <input type="text" id="user_email" name="user_email"  placeholder="Email" data-clear-btn="true" >
            </li>
            <li data-role="fieldcontain">
                <input type="password" id="user_password" name="user_password"  placeholder="Password" data-clear-btn="true" >
            </li>
            <li data-role="fieldcontain">
                <input type="text" id="user_mob" name="user_mob"  placeholder="Mobile Number" data-clear-btn="true" >
            </li>
            <li data-role="fieldcontain">
                <input type="text" id="user_address" name="user_address"  placeholder="Address" data-clear-btn="true" >
            </li>

       </ul>
       <div class="fixe">
        <input type="submit" data-icon="check" data-inline='true' />
       </div>
    </form>
    </div>
    <script src="/public/js/val.js"></script>
    <script type="text/javascript">
            $().ready(function() {
                  $('#form1').validate({
                      rules: {
                          user_f_name: {
                              required: true
                          },
                          user_l_name: {
                              required: true
                          },
                          user_email: {
                              required: true,
                              email: true
                          },
                        user_password: {
                            required: true,
                        },
                        user_mob: {
                            required: true,
                            digits: true,
                          minlength:10,
                          maxlength:10
                        },
                        user_address: {
                            required: true,
                        }
                          
                      },
                      messages: {
                        user_f_name: {
                              required: "Please enter your first name."
                          },
                        user_l_name: {
                              required: "Please enter your last name."
                          },
                        user_email: {
                              required: "Please enter Your email."
                          },
                        user_password: {
                              required: "Please enter Your Password."
                          },
                        user_mob: {
                              required: "Please enter Your Phone number."
                          },
                        user_address: {
                              required: "Please enter Your Address."
                          }
                          
                      }
                  });
            });
</script>


</div>